.cart-items {
    width: 36rem;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
    border-radius: 10px;
    &__heading {
        padding: 2.4rem;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2rem;
        border-bottom: 1px solid $grayBlueL;
    }
    &__content {
        display: grid;
        place-items: center;
        height: 18.8rem;
    }
}
