.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grayBlueL;
    padding: 2rem 2.4rem;
    position: relative;
    z-index: 1;
    @media screen and (min-width: $mobile) {
        padding: 3rem 2rem;
        max-width: 111rem;
        margin: auto;
    }
    &__left {
        display: flex;
        gap: 1.6rem;
        @media screen and (min-width: $mobile) {
            gap: 5.6rem;
        }
        &--menu {
            z-index: 11;
            display: grid;
            place-items: center;
            cursor: pointer;
            user-select: none;
            & img {
                width: 14px;
            }
            @media screen and (min-width: $mobile) {
                display: none;
            }
        }
        &--links {
            display: none;
            list-style: none;
            align-items: center;
            @media screen and (min-width: $mobile) {
                display: flex;
                gap: 3.2rem;
            }
            & .mobile {
                margin: 9rem 2.5rem;
                display: flex;
                flex-direction: column;
            }
            &-link {
                position: relative;
                &:hover {
                    color: $grayBlueD;
                }
                @media screen and (min-width: $mobile) {
                    &:hover::after {
                        content: "";
                        background: $orange;
                        height: 3px;
                        width: 100%;
                        position: absolute;
                        bottom: -170%;
                        left: 0;
                    }
                }
                & a {
                    color: $grayBlueD;
                    font-size: 1.5rem;
                    line-height: 2.6rem;
                    font-weight: 400;
                    text-transform: capitalize;
                    text-decoration: none;
                }
            }
        }
    }
    &__userInfo {
        display: flex;
        align-items: center;
        gap: 2.2rem;
        user-select: none;
        @media screen and (min-width: $mobile) {
            gap: 4.6rem;
            position: relative;
        }

        &--cartIcon {
            cursor: pointer;
            &:hover path {
                fill: $black;
            }
            & path {
                fill: $grayBlueD;
            }
        }
        &--avatar {
            cursor: pointer;
            position: relative;
            &-image {
                width: 2.4rem;
                height: auto;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                @media screen and (min-width: $mobile) {
                    width: 5rem;
                }
                &:hover {
                    box-shadow: 0 0 0 2px $orange;
                }
            }
        }
        &--cart-items {
            background-color: $white;
            position: absolute;
            z-index: 10;
            box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
            border-radius: 10px;
            left: 50%;
            top: 7.6rem;
            translate: -50%;
            width: 95%;
            min-width: 36rem;
            @media screen and (min-width: $mobile) {
                top: 6rem;
                left: 0;
                width: 36rem;
                translate: -50%;
            }
            &-heading {
                padding: 2.4rem;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2rem;
                border-bottom: 1px solid $grayBlueL;
            }
            &-content {
                display: grid;
                place-items: center;
                height: 18.8rem;
            }
        }
        &--userMenu {
            position: absolute;
            top: 7.6rem;
            left: 50%;
            list-style: none;
            background-color: $white;
            translate: -50%;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
            width: 95%;
            min-width: 36rem;
            @media screen and (min-width: $mobile) {
                top: 6rem;
                left: 50%;
                min-width: fit-content;
                translate: -30%;
                padding: 2rem 4rem;
            }
            &-heading {
                padding: 2.4rem;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2rem;
                border-bottom: 1px solid $grayBlueL;
                @media screen and (min-width: $mobile) {
                    margin: 0 0 2rem 0;
                }
            }
            &-link {
                margin: 4rem 0;
                text-align: center;
                width: 100%;
                @media screen and (min-width: $mobile) {
                    text-align: left;
                    margin: 1rem 0;
                }
                & a {
                    text-decoration: none;
                    color: $black;
                    &:hover {
                        color: $grayBlueD;
                    }
                }
            }
        }
    }
    &__mobileMenu {
        position: absolute;
        background: $blackBG;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        height: 100dvh;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        @media screen and (min-width: $mobile) {
            display: none;
        }
        &-active {
            opacity: 1;
            visibility: visible;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
        }
        &--linkContainer {
            position: absolute;
            background: $white;
            left: -100%;
            top: 0;
            width: 60%;
            min-width: 25rem;
            height: 100vh;
            height: 100dvh;
            z-index: 10;
            padding: 9rem 2.5rem;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            @media screen and (min-width: $mobile) {
                display: none;
            }
            &-active {
                left: 0;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -ms-transition: all 0.2s;
                -o-transition: all 0.2s;
            }
            &-links {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                &-link {
                    & a {
                        color: $blueVD;
                        text-transform: capitalize;
                        font-size: 1.8rem;
                        line-height: 2.6rem;
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
