* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Kumbh Sans", sans-serif;
}

.App {
  height: 100vh;
  height: 100dvh;
}

header {
  width: 100%;
  top: 0;
  left: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 111rem;
  height: 85%;
}
@media screen and (min-width: 61rem) {
  main {
    flex-direction: row;
    padding: 9rem 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 85%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(223, 64%, 98%);
  padding: 2rem 2.4rem;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 61rem) {
  .navbar {
    padding: 3rem 2rem;
    max-width: 111rem;
    margin: auto;
  }
}
.navbar__left {
  display: flex;
  gap: 1.6rem;
}
@media screen and (min-width: 61rem) {
  .navbar__left {
    gap: 5.6rem;
  }
}
.navbar__left--menu {
  z-index: 11;
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
}
.navbar__left--menu img {
  width: 14px;
}
@media screen and (min-width: 61rem) {
  .navbar__left--menu {
    display: none;
  }
}
.navbar__left--links {
  display: none;
  list-style: none;
  align-items: center;
}
@media screen and (min-width: 61rem) {
  .navbar__left--links {
    display: flex;
    gap: 3.2rem;
  }
}
.navbar__left--links .mobile {
  margin: 9rem 2.5rem;
  display: flex;
  flex-direction: column;
}
.navbar__left--links-link {
  position: relative;
}
.navbar__left--links-link:hover {
  color: hsl(219, 9%, 45%);
}
@media screen and (min-width: 61rem) {
  .navbar__left--links-link:hover::after {
    content: "";
    background: hsl(26, 100%, 55%);
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -170%;
    left: 0;
  }
}
.navbar__left--links-link a {
  color: hsl(219, 9%, 45%);
  font-size: 1.5rem;
  line-height: 2.6rem;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}
.navbar__userInfo {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  user-select: none;
}
@media screen and (min-width: 61rem) {
  .navbar__userInfo {
    gap: 4.6rem;
    position: relative;
  }
}
.navbar__userInfo--cartIcon {
  cursor: pointer;
  position: relative;
}
.navbar__userInfo--cartIcon:hover path {
  fill: hsl(0, 0%, 0%);
}
.navbar__userInfo--cartIcon path {
  fill: hsl(219, 9%, 45%);
}
.navbar__userInfo--cartIcon-quantity {
  position: absolute;
  top: -20%;
  right: -30%;
  display: grid;
  place-items: center;
  background: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  border-radius: 6.5px;
  -webkit-border-radius: 6.5px;
  -moz-border-radius: 6.5px;
  -ms-border-radius: 6.5px;
  -o-border-radius: 6.5px;
  width: 19px;
  height: 13px;
}
.navbar__userInfo--avatar {
  cursor: pointer;
  position: relative;
}
.navbar__userInfo--avatar-image {
  width: 2.4rem;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media screen and (min-width: 61rem) {
  .navbar__userInfo--avatar-image {
    width: 5rem;
  }
}
.navbar__userInfo--avatar-image:hover {
  box-shadow: 0 0 0 2px hsl(26, 100%, 55%);
}
.navbar__userInfo--cart-items {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  z-index: 10;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  border-radius: 10px;
  left: 50%;
  top: 7.6rem;
  translate: -50%;
  width: 95%;
  min-width: 36rem;
}
@media screen and (min-width: 61rem) {
  .navbar__userInfo--cart-items {
    top: 6rem;
    left: 0;
    width: 37rem;
    translate: -50%;
  }
}
.navbar__userInfo--cart-items-heading {
  padding: 2.4rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  border-bottom: 1px solid hsl(223, 64%, 98%);
}
.navbar__userInfo--cart-items-content {
  display: grid;
  place-items: center;
  height: 18.8rem;
  padding: 2.4rem 2.4rem 3.2rem 2.4rem;
  gap: 2.4rem;
}
.navbar__userInfo--cart-items-content-listing {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.navbar__userInfo--cart-items-content-listing-image {
  width: 5rem;
  height: 5rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.navbar__userInfo--cart-items-content-listing-info-title {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: hsl(219, 9%, 45%);
  text-transform: capitalize;
}
.navbar__userInfo--cart-items-content-listing-info-pricing {
  display: flex;
  gap: 1rem;
}
.navbar__userInfo--cart-items-content-listing-info-pricing-quantity {
  font-size: 1.6rem;
  color: hsl(219, 9%, 45%);
  line-height: 2.6rem;
}
.navbar__userInfo--cart-items-content-listing-info-pricing-finalPrice {
  font-weight: 700;
  line-height: 2.6rem;
}
.navbar__userInfo--cart-items-content-listing-update {
  cursor: pointer;
}
.navbar__userInfo--cart-items-content-listing-delete {
  display: grid;
  place-items: center;
  cursor: pointer;
}
.navbar__userInfo--cart-items-content-listing-delete svg {
  width: 2.2rem;
  height: 2rem;
}
.navbar__userInfo--cart-items-content-listing-delete:hover path {
  fill: hsl(0, 0%, 0%);
}
.navbar__userInfo--cart-items-content-listing-delete path {
  fill: hsl(220, 14%, 75%);
}
.navbar__userInfo--cart-items-content-checkout {
  width: 100%;
}
.navbar__userInfo--userMenu {
  position: absolute;
  top: 7.6rem;
  left: 50%;
  list-style: none;
  background-color: hsl(0, 0%, 100%);
  translate: -50%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  width: 95%;
  min-width: 36rem;
}
@media screen and (min-width: 61rem) {
  .navbar__userInfo--userMenu {
    top: 6rem;
    left: 50%;
    min-width: fit-content;
    translate: -30%;
    padding: 2rem 4rem;
  }
}
.navbar__userInfo--userMenu-heading {
  padding: 2.4rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  border-bottom: 1px solid hsl(223, 64%, 98%);
}
@media screen and (min-width: 61rem) {
  .navbar__userInfo--userMenu-heading {
    margin: 0 0 2rem 0;
  }
}
.navbar__userInfo--userMenu-link {
  margin: 4rem 0;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 61rem) {
  .navbar__userInfo--userMenu-link {
    text-align: left;
    margin: 1rem 0;
  }
}
.navbar__userInfo--userMenu-link a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}
.navbar__userInfo--userMenu-link a:hover {
  color: hsl(219, 9%, 45%);
}
.navbar__mobileMenu {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
@media screen and (min-width: 61rem) {
  .navbar__mobileMenu {
    display: none;
  }
}
.navbar__mobileMenu-active {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.navbar__mobileMenu--linkContainer {
  position: absolute;
  background: hsl(0, 0%, 100%);
  left: -100%;
  top: 0;
  width: 60%;
  min-width: 25rem;
  height: 100vh;
  height: 100dvh;
  z-index: 10;
  padding: 9rem 2.5rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
@media screen and (min-width: 61rem) {
  .navbar__mobileMenu--linkContainer {
    display: none;
  }
}
.navbar__mobileMenu--linkContainer-active {
  left: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.navbar__mobileMenu--linkContainer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.navbar__mobileMenu--linkContainer-links-link a {
  color: hsl(220, 13%, 13%);
  text-transform: capitalize;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}
@media screen and (min-width: 61rem) {
  .gallery {
    width: 50%;
    min-width: fit-content;
  }
}
.gallery__activeImage {
  width: 100%;
  position: relative;
  user-select: none;
  cursor: pointer;
}
@media screen and (min-width: 61rem) {
  .gallery__activeImage {
    width: fit-content;
  }
}
.gallery__activeImage--image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
@media screen and (min-width: 61rem) {
  .gallery__activeImage--image {
    width: 44.5rem;
    height: auto;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
  }
}
.gallery__activeImage--nextIcon, .gallery__activeImage--prevIcon {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 50%;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media screen and (min-width: 61rem) {
  .gallery__activeImage--nextIcon, .gallery__activeImage--prevIcon {
    display: none;
  }
}
.gallery__activeImage--nextIcon:hover path, .gallery__activeImage--prevIcon:hover path {
  stroke: hsl(26, 100%, 55%);
}
.gallery__activeImage--nextIcon path, .gallery__activeImage--prevIcon path {
  stroke: hsl(0, 0%, 0%);
}
.gallery__activeImage--prevIcon {
  left: 1.6rem;
}
.gallery__activeImage--nextIcon {
  right: 1.6rem;
}
.gallery__thumbnails {
  display: none;
  gap: 2.8rem;
  list-style: none;
}
.gallery__thumbnails--image {
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
  border: 3px solid transparent;
}
.gallery__thumbnails--image:hover::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.gallery__thumbnails--image-active {
  border: 3px solid #ff7e1b;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
}
.gallery__thumbnails--image-active::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.gallery__thumbnails--image img {
  width: 8.8rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
@media screen and (min-width: 61rem) {
  .gallery__thumbnails {
    display: flex;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.4rem;
}
@media screen and (min-width: 61rem) {
  .info {
    width: 50%;
    max-height: 42.6rem;
    padding: 0;
  }
}
.info__heading {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.184615rem;
  font-weight: 700;
  margin-bottom: 1.9rem;
}
@media screen and (min-width: 61rem) {
  .info__heading {
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
  }
}
.info__title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-transform: capitalize;
  color: hsl(220, 13%, 13%);
  margin-bottom: 1.5rem;
  max-width: 26rem;
}
@media screen and (min-width: 61rem) {
  .info__title {
    font-size: 4.4rem;
    line-height: 4.8rem;
    margin-bottom: 3.2rem;
    max-width: none;
  }
}
.info__text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: hsl(219, 9%, 45%);
  margin-bottom: 2.4rem;
  max-width: 42.6rem;
}
@media screen and (min-width: 61rem) {
  .info__text {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
.info__prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 61rem) {
  .info__prices {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 1rem;
  }
}
.info__prices--left {
  display: flex;
  gap: 1.6rem;
}
@media screen and (min-width: 61rem) {
  .info__prices--left {
    gap: 2.3rem;
  }
}
.info__prices--left-current {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: hsl(220, 13%, 13%);
}
.info__prices--left-discount {
  display: grid;
  place-items: center;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  background: hsl(25, 100%, 94%);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  padding: 0.4rem 1rem;
}
.info__prices--originalPrice {
  font-weight: 700;
  line-height: 2.6rem;
  font-size: 1.6rem;
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
}
.info__cart {
  display: flex;
  gap: 1.6rem;
  margin-top: 3.2rem;
  flex-direction: column;
}
@media screen and (min-width: 61rem) {
  .info__cart {
    flex-direction: row;
  }
}
.info__cart--quantity {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 15.7rem;
  background: hsl(223, 64%, 98%);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
@media screen and (min-width: 61rem) {
  .info__cart--quantity {
    width: 100%;
  }
}
.info__cart--quantity-number {
  margin: 0 1rem;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
}
.info__cart--quantity-minus-container, .info__cart--quantity-plus-container {
  padding: 2rem 1.6rem 2rem 2rem;
  cursor: pointer;
}
.info__cart--quantity-minus-container:nth-of-type(1), .info__cart--quantity-plus-container:nth-of-type(1) {
  padding: 2rem 2rem 2rem 1.6rem;
}
.info__cart--quantity-minus-container:hover .info__cart--quantity-minus-icon path, .info__cart--quantity-minus-container:hover .info__cart--quantity-plus-icon path, .info__cart--quantity-plus-container:hover .info__cart--quantity-minus-icon path, .info__cart--quantity-plus-container:hover .info__cart--quantity-plus-icon path {
  fill: #ffab6a;
}
.info__cart--quantity-minus-icon, .info__cart--quantity-plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  fill: hsl(26, 100%, 55%);
}
.info__cart--quantity-minus-icon {
  height: 0.33rem;
}
.info__cart--cart:hover {
  background: #ffab6a;
}
.info__cart--cart-text {
  white-space: nowrap;
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
}
@media screen and (min-width: 61rem) {
  .info__cart--cart {
    width: 100%;
  }
}

.lighthouse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
  display: none;
}
@media screen and (min-width: 61rem) {
  .lighthouse {
    display: flex;
  }
}
.lighthouse__gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.lighthouse__gallery--close {
  cursor: pointer;
  text-align: right;
  margin-bottom: 2.4rem;
}
.lighthouse__gallery--close:hover path {
  fill: hsl(26, 100%, 55%);
}
.lighthouse__gallery--close path {
  fill: hsl(0, 0%, 100%);
}
.lighthouse__gallery--images {
  position: relative;
}
.lighthouse__gallery--images .gallery__activeImage--image {
  cursor: default;
}
@media screen and (min-width: 61rem) {
  .lighthouse__gallery--images .gallery__activeImage--nextIcon, .lighthouse__gallery--images .gallery__activeImage--prevIcon {
    display: grid;
  }
}
.lighthouse__gallery--images .gallery__activeImage--nextIcon {
  right: -4.5%;
}
.lighthouse__gallery--images .gallery__activeImage--prevIcon {
  left: -4.5%;
}

.button {
  user-select: none;
  padding: 1.8rem 7.5rem;
  background: hsl(26, 100%, 55%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  min-width: fit-content;
  fill: hsl(0, 0%, 100%);
  box-shadow: 0px 20px 50px -20px #ff7e1b;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.button:hover {
  background: #ffab6a;
}
.button-text {
  white-space: nowrap;
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
}
@media screen and (min-width: 61rem) {
  .button {
    width: 100%;
  }
}
