* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $kumbh;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 111rem;
    @media screen and (min-width: $mobile) {
        flex-direction: row;
        padding: 9rem 0;
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 5vw;
    }
}
