$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
$blueVD: hsl(220, 13%, 13%);
$grayBlueD: hsl(219, 9%, 45%);
$grayBlue: hsl(220, 14%, 75%);
$grayBlueL: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$blackBG: rgba(0, 0, 0, 0.75);

$kumbh: "Kumbh Sans", sans-serif;
